header {
    height: 5rem;
    background-color: #263238;
    font-family: monospace;
    color: #fafafa;
    width: 100%;
    display:flex;
}

.header-left {
  width: 33%;
  display: flex;
  align-items: center;
}

.header-left h1 {
  margin: 0 auto;
  margin-left: 1em;
}

.header-mid img {
  max-width: 100%;
  height: 5rem;
}
.header-mid {
  width: 33%;
  text-align: center;
}
.header-right {
  width: 33%;
  height:100%;
  text-align: right;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}